* {
    margin: 0;
    padding: 0;
}

* {
    /* hide scrollbar for firefox */
    scrollbar-width: none;
}

/* hide scroll bar for chrome and opera */
::-webkit-scrollbar {
    display: none;
    width: 0px;
}

#scroll {
    height: 2000px;
}

#css,
#webgl {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: block;
}

#webgl {
    pointer-events: none;
}
